{% extends 'ITFAdminBundle::admin_base.html.twig' %}
{% form_theme form '@ITFAdmin/Admin/forms/form_layout.html.twig' %}

{% set _entity = app.request.get('entity') %}
{% set _Entity = app.request.get('entity')|capitalize %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter="cssrewrite"
        '@admin_edit_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    {# GenemuForm #}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block main_action_button %}
    <a class="display-inline-block btn btn-default" href="{{ path('admin_list', {entity: _entity, bundle: bundle}) }}">
        Back
    </a>
    <span class="display-inline-block">
        {% if delete_form is defined %}
            {{ form(delete_form) }}
        {% endif %}
    </span>
{% endblock %}

{% block admin_title %}Edit {{ _Entity }}{% endblock %}

{% block content %}
    {{ include('ITFAdminBundle:Admin:edit.content.html.twig', {
        bundle: bundle,
        entity: entity,
        entity_assoc: entity_assoc,
        form: form,
        entity_translatable: entity_translatable
    }) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@admin_edit_js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {# GenemuForm #}
    {{ form_javascript(form) }}
{% endblock %}