<ul class="nav metismenu" id="side-menu">
    <li class="nav-header">
        <div class="dropdown profile-element">
            <span>
                <!--<img alt="image" class="img-circle" src="img/profile_small.jpg" />-->
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                    <span class="block m-t-xs">
                        Logged in as <strong class="font-bold">{{ app.user.username }}</strong>
                    </span>
                </span>
            </a>
        </div>
        <div class="logo-element">
            PN
        </div>
    </li>

    <li>
        <a href="{{ path('admin_dashboard', {bundle: bundle}) }}"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
    </li>

    {% for item in menu %}
    <li {% if item.active == true %} class="active"{% endif %}>
        <a href="{{ item.url }}" {% if item.has_error is sameas(true) %}style="opacity:.5;"{% endif %}>
            {% if item.has_error is sameas(true) %}
                <i class="fa fa-exclamation-triangle"></i>
            {% else %}
                <i class="fa fa-edit"></i>
            {% endif %}
            <span class="nav-label">{{ item.title }}</span>
        </a>
    </li>
    {% endfor %}

    <li class="{% if _route == 'jms_translation_index' %}active{% endif %}">
        <a href="{{ path("jms_translation_index") }}"><i class="fa fa-globe"></i> <span class="nav-label">Translations</span></a>
    </li>
</ul>