{% extends 'ITFAdminBundle::admin_base.html.twig' %}

{% set _entity = app.request.get('entity') %}
{% set _Entity = app.request.get('entity')|capitalize %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter="cssrewrite"

    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_action_button %}
    <a class="btn btn-primary" href="{{ path('admin_new', { 'entity': _entity, 'bundle': bundle }) }}">
        Create a new {{ _Entity }}
    </a>
{% endblock %}

{% block admin_title %}Tree {{ _Entity }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Verzeichnis</h5>
                    <div class="ibox-tools">
                        <a href="#" data-action="add" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Add</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="dd nested-sortable" id="nestable-mirror" data-bundle="{{ bundle }}" data-entity="{{ _entity }}">
                        {{ tree_html|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                {#<div class="ibox-title">
                    <h5>Basic Data Tables example with responsive plugin</h5>
                </div>#}
                <div class="ibox-content">
                    asdf
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts

        'bundles/itfadmin/inspinia/js/jquery-ui-1.10.4.min.js'
        '@ITFAdminBundle/Resources/public/inspinia/js/plugins/nestable/jquery.mjs.nestedSortable.js'

    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}